@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

.custom-height {
    height: calc(100svh - 64px);
}

.zindex {
    position: relative;
    z-index: 2; /* Z-index lebih tinggi dari pattern */
}

.zindex2 {
    z-index: 100;
}

.pattern {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #ffffff;
    opacity: 0.4;
    background-image: radial-gradient(
            #3781b7 1.4500000000000002px,
            transparent 1.4500000000000002px
        ),
        radial-gradient(
            #3781b7 1.4500000000000002px,
            #ffffff 1.4500000000000002px
        );
    background-size: 58px 58px;
    background-position: 0 0, 29px 29px;
}

.pattern2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -50;
    background-color: #ffffff;
    opacity: 0.4;
    background-image: radial-gradient(
            #3781b7 1.4500000000000002px,
            transparent 1.4500000000000002px
        ),
        radial-gradient(
            #3781b7 1.4500000000000002px,
            #ffffff 1.4500000000000002px
        );
    background-size: 58px 58px;
    background-position: 0 0, 29px 29px;
}

@media (min-width: 1630px) {
    .hero-heading {
        margin-top: 64px;
    }
}

.hide-scrollbar {
    scrollbar-width: none; /* Untuk Firefox */
    -ms-overflow-style: none; /* Untuk Internet Explorer dan Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Untuk Chrome, Safari, dan Opera */
}

.no-scrollbar::-webkit-scrollbar {
    width: 0px; /* Menghilangkan scrollbar */
    background: transparent; /* Membuatnya transparan */
}

/* Untuk Firefox */
.no-scrollbar {
    scrollbar-width: none; /* Hilangkan scrollbar di Firefox */
}
